﻿
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

  

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="lib/semantic/dist/semantic.min.js"></script>
<script src="js/Custom/JqExtensions.js"></script>
<script src="js/Custom/AdminLayout/adminLayoutMenuOpen.js"></script>
<script src="js/Custom/GlobalScope.js"></script>
<script src="js/Custom/AdminLayout/SwitchAdminLayoutPartialView.js"></script>
<link rel="stylesheet" type="text/css" href="lib/semantic/dist/components/button.min.css" />
@*<script src="js/Angular/angular-1.6.1.min.js"></script>
<script src="js/Angular/ngstorage.js" type="text/javascript"></script>*@
@*<script src="js/Custom/Angular/models.js"></script>*@
@*<script src="js/Custom/Angular/Controllers/StoreListCtrl.js"></script>*@

<link rel="stylesheet" type="text/css" href="~/css/AdminLayout/AdminLayout.css" />

<aside class="user-dashboard">
	<div class="user-details-container">
		<a href="#" class="avatar user-profile">
			<img src="https://pp.userapi.com/c626316/v626316439/42bb0/dMDsqt2qY44.jpg" />
		</a>
		<a href="#" class="user-settings">
			<i class="stroke-config"></i>
		</a>
	</div>
	<nav class="main">
		<h5>Otli dashboard</h5>
		<ul class="nav-container">
			<li class="nav-item">
				<span id="SwitchStore_button">Магазин</span>
				@*<ul class="subnav">
						<li><a href="#">Список</a></li>
						<li><a href="#">Создать</a></li>
						<li><a href="#">option 3</a></li>
						<li><a href="#">option 4</a></li>
					</ul>*@
			</li>
			<li class="nav-item">
				<span id="SwitchOwners_button">Партнеры</span>
				@*<ul class="subnav">
						<li><a href="#">option 1</a></li>
						<li><a href="#">option 2</a></li>
						<li><a href="#">option 3</a></li>
						<li><a href="#">option 4</a></li>
					</ul>*@
			</li>
			<li class="nav-item">
				<span>Категории</span>
				@*<ul class="subnav">
						<li><a href="#">option 1</a></li>
						<li><a href="#">option 2</a></li>
						<li><a href="#">option 3</a></li>
						<li><a href="#">option 4</a></li>
					</ul>*@
			</li>
			<li class="nav-item">
				<span>Товары</span>
				@*<ul class="subnav">
						<li><a href="#">option 1</a></li>
						<li><a href="#">option 2</a></li>
						<li><a href="#">option 3</a></li>
						<li><a href="#">option 4</a></li>
					</ul>*@
			</li>
			<li class="nav-item">
				<span>Пользователи</span>
				@*<ul class="subnav">
						<li><a href="#">option 1</a></li>
						<li><a href="#">option 2</a></li>
						<li><a href="#">option 3</a></li>
						<li><a href="#">option 4</a></li>
					</ul>*@
			</li>
		</ul>
	</nav>
</aside>
<main class="main">
	<header class="main">
		<h5>Hello! Check out your latest stats.</h5>
		<form class="input-container">
			<label>Search</label>
			<input type="search">
		</form>
	</header>
	<div class="scroll-container">
		<div class="content-container">

		<div  id="MainContainer"></div>
		
			@*<section class="content-section">
					<div class="content-item">
						<div class="content-header">
							<h5>Weekly Sprint</h5>
							<a href="#" class="content-menu"><i class="stroke-more"></i></a>
						</div>
						<div class="content-body">
							<div class="content-body-item">
								<h4>Monday</h4>
								<p class="stat negative">20%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,60 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Tuesday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,40 0,20 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,0 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Wednesday</h4>
								<p class="stat negative">50%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,40 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,30 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Thursday</h4>
								<p class="stat positive">40%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,80 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,20 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Friday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,90 0,30 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,70 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Saturday</h4>
								<p class="stat positive">80%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,10 0,90 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,70 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Sunday</h4>
								<p class="stat positive">100%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,100 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="content-section">
					<div class="content-item">
						<div class="content-header">
							<h5>Weekly Tasks</h5>
							<a href="#" class="content-menu"><i class="stroke-more"></i></a>
						</div>
						<div class="content-body">
							<div class="content-body-item">
								<h4>Monday</h4>
								<p class="stat negative">20%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,60 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Tuesday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,40 0,20 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,0 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Wednesday</h4>
								<p class="stat negative">50%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,40 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,30 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Thursday</h4>
								<p class="stat positive">40%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,80 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,20 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Friday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,90 0,30 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,70 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Saturday</h4>
								<p class="stat positive">80%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,10 0,90 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,70 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Sunday</h4>
								<p class="stat positive">100%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,100 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="content-section">
					<div class="content-item">
						<div class="content-header">
							<h5>Weekly PRs</h5>
							<a href="#" class="content-menu"><i class="stroke-more"></i></a>
						</div>
						<div class="content-body">
							<div class="content-body-item">
								<h4>Monday</h4>
								<p class="stat negative">20%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,60 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Tuesday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,40 0,20 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,0 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Wednesday</h4>
								<p class="stat negative">50%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,40 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,30 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Thursday</h4>
								<p class="stat positive">40%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,80 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,20 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Friday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,90 0,30 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,70 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Saturday</h4>
								<p class="stat positive">80%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,10 0,90 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,70 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Sunday</h4>
								<p class="stat positive">100%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,100 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="content-section">
					<div class="content-item">
						<div class="content-header">
							<h5>Weekly Commits</h5>
							<a href="#" class="content-menu"><i class="stroke-more"></i></a>
						</div>
						<div class="content-body">
							<div class="content-body-item">
								<h4>Monday</h4>
								<p class="stat negative">20%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,60 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Tuesday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,40 0,20 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,0 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Wednesday</h4>
								<p class="stat negative">50%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,40 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,30 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Thursday</h4>
								<p class="stat positive">40%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,80 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,20 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Friday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,90 0,30 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,70 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Saturday</h4>
								<p class="stat positive">80%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,10 0,90 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,70 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Sunday</h4>
								<p class="stat positive">100%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,100 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="content-section">
					<div class="content-item">
						<div class="content-header">
							<h5>Weekly Issues</h5>
							<a href="#" class="content-menu"><i class="stroke-more"></i></a>
						</div>
						<div class="content-body">
							<div class="content-body-item">
								<h4>Monday</h4>
								<p class="stat negative">20%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,60 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Tuesday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,40 0,20 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,0 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Wednesday</h4>
								<p class="stat negative">50%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,40 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,20 0,30 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Thursday</h4>
								<p class="stat positive">40%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,30 0,80 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,20 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Friday</h4>
								<p class="stat negative">10%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,90 0,30 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,70 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Saturday</h4>
								<p class="stat positive">80%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,10 0,90 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,80 0,70 0,100 100,100"/>
									</svg>
								</div>
							</div>
							<div class="content-body-item">
								<h4>Sunday</h4>
								<p class="stat positive">100%</p>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,0 0,10 0,100 100,100"/>
									</svg>
								</div>
								<div class="graph">
									<svg viewBox="0 0 100 100" preserveAspectRatio="none">
										<polygon points="100,100 0,80 0,100 100,100"/>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</section>*@
		</div>
	</div>
</main>