﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@*<environment names="Staging,Production,Development">
		<script asp-src-include="js/Angular/*"></script>
		<script asp-src-include="~/js/"></script>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
		<script src="js/Custom/AdminLayout/adminLayout.js"></script>
		<script asp-src-include="~/js/Semantic-ui/*.js"></script>
	</environment>*@
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
	
	<script src="js/Custom/AdminLayout/adminLayout.js"></script>
	<script src="js/Custom/AdminLayout/SwitchPartialView.js"></script>

	<link rel="stylesheet" type="text/css" href="~/css/AdminLayout/AdminLayout.css" />*@
</head>
<body>
@*<link rel="stylesheet" type="text/css" href="~/css/AdminLayout/AdminLayout.css" />*@

		@RenderBody()
</body>
</html>