﻿<link rel="stylesheet" type="text/css" href="lib/semantic/dist/components/form.css" />
<link rel="stylesheet" type="text/css" href="lib/semantic/dist/components/container.min.css" />
<link rel="stylesheet" type="text/css" href="lib/semantic/dist/components/segment.min.css" />

<script src="js/Angular/angular-1.6.1.min.js"></script>
<script src="js/Angular/ngstorage.js" type="text/javascript"></script>
<script src="js/Custom/Angular/models.js"></script>
<script src="js/Custom/Angular/Controllers/StoreCreateCtrl.js"></script>
@*<script src="js/Custom/AdminLayout/SwitchAdminLayoutPartialView.js"></script>*@

<div ng-app="HomeApp" ng-controller="StoreCreateCtrl" class="ui container segment">
	<p>{{home}}</p>
	<div class="ui form">
		<div class="field">
			<label>Название магазина</label>
			<input ng-model="storeData.Name" type="text" id="Name" name="first-name" placeholder="Название магазина">
		</div>
		<div class="field">
			<label>Адрес</label>
			<input ng-model="storeData.Address" type="text" id="Address" name="last-name" placeholder="Адрес">
		</div>
		<div class="field">
			<label>Партнер</label>
			<input type="text" id="Owner" name="last-name" placeholder="Выбирите партнера">
		</div>

		<button ng-click="submitStore()" class="ui button" type="submit">Создать</button>
	</div>
</div>

