﻿
@*<link rel="stylesheet" type="text/css" href="lib/semantic/dist/components/button.min.css" />*@
@*<script src="lib/semantic/dist/semantic.min.js"></script>*@
@*<script src="js/Angular/angular-1.6.1.min.js"></script>
<script src="js/Angular/ngstorage.js" type="text/javascript"></script>*@
<script src="js/Custom/Angular/models.js"></script>
<script src="js/Custom/Angular/Controllers/StoreListCtrl.js"></script>
 <script src="js/Custom/AdminLayout/SwitchAdminLayoutPartialView.js"></script>

<div ng-app="HomeApp" ng-controller="StoreListCtrl">
	<button id="SwitchToCreateStorePage_Button" class="ui green button">To create a new store</button>
	<p>{{home}}</p>
	<table class="ui violet table">
		<thead>
		<tr>
			<th>Название магазина</th>
			<th>Адрес</th>
			<th>Выручка</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Отли</td>
			<td>Муром</td>
			<td>1378012</td>
		</tr>
		</tbody>
	</table>
</div>
